/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ===========================================================================

*/

*, *::before, *::after {
 box-sizing: border-box;
}

body {
 font-size: 16px;
 /*font-family: 'Montserrat', sans-serif;*/
 font-family: 'Quicksand', sans-serif;
 letter-spacing: 1px;
 padding-top: 56px;
 font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #575988;
}

p {
  line-height: 1.8rem;
}

.fixed-top {
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.1);
}

a.nav-link {
  font-family: 'Quicksand', sans-serif;
  text-transform: lowercase;
}

/*.navbar-light .navbar-nav .nav-link {
    color: #6a5c99;
}*/

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #ffd037;
  font-weight: 400;
}

/* ==========================================================================
    HERO
  ===========================================================================

*/

#home header, #excercises header {
  padding-bottom: 100px;
  margin-top: 70px;
}

.page-title {
  padding-top: 70px;
  font-weight: 300;
  text-align: center;
  color: #575988;
}

.page-title h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.page-title h1 {
  letter-spacing: 6px;
  font-weight: 700;
  text-transform: lowercase;
  font-size: 2.5rem;
  line-height: 3rem;
}

.underline {
  height: 4px;
  border-radius: 1px;
  margin: 20px auto;
  width: 55px;
  background: #ffd037;
}

.left {
  margin: 20px 0;
}


/* ==========================================================================
    ABOUT
  ===========================================================================

*/

#about {
  padding: 70px 0 25px 0;
  background: #fcfcfc;

}

.skills {
  padding: 150px 0;
}

.subheader {
  text-transform: uppercase;
}

.skills i.fab, .skills i.fas {
  font-size: 8rem;
  padding: 40px;
}

#about .underline, #skills .underline {
  margin-bottom: 40px;
}

.content-1, .content-2 {
  margin: 200px 0;
}

/* ==========================================================================
    SKILLS
  ==========================================================================

*/

.skills .col-lg-4 {
  height: 100%;
  width: auto;
}

.html, .css, .javascript, .git, .github, .npm, .react, .node, .sql {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.4);
}

.html {
  background: #ffc107;
  color: #4c3a05;
}

.css {
  background: rgba(0,123,255,.5);
  color: #004085;
}

.javascript {
  background: #535461;
  color: #FFEB3B;
}

.git {
  background: #FF5722;
  color: rgba(0, 0, 0, 0.80);
}

.github {
  background: #e6e6e6;
  color: #000000;
}

.npm {
  background: black;
  color: #F44336;
}

.react {
  background: #20232a;
  color: #61dafb;
}

.node {
  background: #689F38;
  color: #fff;
}

.sql {
  background: #004085;
  color: #00BCD4;
}

/* ==========================================================================
    EXCERCISES NEWPAGE
  ===========================================================================

*/

.sidebar {
  position: sticky;
}

.sidebar ul {
  position: fixed;
  margin-top: 50px;
}

.main.page-title header {
  margin-bottom: 150px;
}






















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
